# DnD Scripts
DnD\ Scripts/*

# DnDBeyond Sync
DnDBeyond\ Sync/*

# Interactive Story Transcriber
Interactive\ Story\ Transcriber/*

# ISS_Tracker
ISS_Tracker/nohup.out

# PinSync
PinSync/.env
PinSync/manifest.json
PinSync/credentials/*
PinSync/Battlemaps/*
PinSync/Characters/*
PinSync/Creatures/*
PinSync/Items/*
PinSync/The\ Waking\ World/*

# Reddit Scripts
Reddit\ Scripts/.env
Reddit\ Scripts/drive_credentials.json
Reddit\ Scripts/settings.yaml

# RSA_Encrypt
RSA_Encrypt/.env

# Sudoku Solver
Sudoku\ Solver/*
